name: Website Health Monitor

on: [push]

jobs:
  check-quality:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Tool (Force)
        run: npm install -g @lhci/cli

      - name: Run Speed Test
        run: lhci autorun --collect.staticDistDir=. --upload.target=temporary-public-storage
